version: "3.9"

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["node", "server.js"]
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: 3000
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET: ${NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET}
    ports:
      - "3000:3000"
    networks:
      - qasr-alsultan-dashboard
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped
   

  mongo:
    image: mongo:6
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongo_data:/data/db
    networks:
      - qasr-alsultan-dashboard
    healthcheck:
      test: ["CMD", "mongostat", "--rowcount", "1"]
      interval: 30s
      timeout: 10s
      retries: 5


networks:
  qasr-alsultan-dashboard:
    driver: bridge

volumes:
  mongo_data:
 
